<body>
  <div class="row starter top-xs border" style="background:#6BABF3; color: white">
    <div class="col-sm-6 col-xs-12">
      <div class="box">
        <%= link_to "tinderJobs", root_path, style: "color: white; font-family: 'Lato'; font-size: 30px",class: "btn btn-link btn-lg"   %>
    </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="box end-xs">
      </div>
    </div>
  </div>
  <div class="row center-md blue">
    <div class="col-sm-12">
      <div class="box" style = 'height: 40%;'><h1>TINDERJOBS</h1></div>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <div class="box"><h2> — </h2><h2>what is tinderjobs?</h2>
      </div></div>
      <div class="col-sm-7 col-xs-12">
        <div class="box">TinderJobs is an application that allows companies and young students to recruit and be recruited for low-level jobs. It's formatted in a Tinder-esque style so that long job processes and heavy stacks of applications can be avoided with quick management of possible offers.
        </div></div>
      </div>

      <div class="row ">
        <div class="col-sm-7 col-xs-12">
          <div class="box">Sign up as a company or a job-seeker. If your're a company, register your job openings. If you're a job-seeker, fill out your basic information and upload your resume to the document. Reject or accept job/candidate offers and obtain matches!
          </div></div>
          <div class="col-sm-5 col-xs-12">
            <div class="box"><h2> — </h2><h2>how can you use it?</h2>
            </div></div>
          </div>
          <div class="row ">
            <div class="col-sm-5 col-xs-12">
              <div class="box"><h2> — </h2><h2>why should you use it?</h2>
              </div></div>
              <div class="col-sm-7 col-xs-12">
                <div class="box">Although many other websites such as AngelList and Glassdoor provide sophisticated means of obtaining jobs, they require more time-consuming activities and constant follow-up. In addition, they do not cater or target high school and college students. Simpler job/task opportunities may only need quick overview and a simple application process.
                </div></div>
              </div>
              <div class="row ">
                <div class="col-sm-3 col-xs-12"></div>
                      <div class="col-sm-3 col-xs-12">
                        <center><div class="box"><%= link_to "I am a company", new_company_path, class: 'btn', style: 'color: white; padding: 15px', action: "new" %></div></div>
                          <div class="col-sm-3 col-xs-12">
                            <center><div class="box"><%= link_to "I am a job seeker", new_user_path, class: 'btn', style: 'color: white; padding: 15px', action: "new" %></div></div>
                            </div>
                            <div class="row center-md">
                              <div class="col-sm-12">
                                <div class="box" style = 'height: 40%;'><br><br></div>
                              </div>
                            </div>
                          </body>
