<body>
  <div class="row starter top-xs border" style="background:#6BABF3; color: white">
    <div class="col-sm-6 col-xs-12">
      <div class="box">
        <%= link_to "tinderJobs", root_path, style: "color: white; font-family: 'Lato'; font-size: 30px",class: "btn btn-link btn-lg"   %>
    </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="box end-xs">
        <a class="btn btn-lg btn-warning active" href="#" role="button">Profile</a> <!-- profile css goes here -->
      </div>
    </div>
  </div>
  <div class="row center-md blue">
    <div class="col-sm-12">
      <div class="box" style = 'height: 40%;'><h1>TINDERJOBS</h1></div>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <div class="box"><h2> — </h2><h2>what is tinderjobs?</h2>
      </div></div>
      <div class="col-sm-7 col-xs-12">
        <div class="box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        </div></div>
      </div>

      <div class="row ">
        <div class="col-sm-7 col-xs-12">
          <div class="box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          </div></div>
          <div class="col-sm-5 col-xs-12">
            <div class="box"><h2> — </h2><h2>how can you use it?</h2>
            </div></div>
          </div>
          <div class="row ">
            <div class="col-sm-5 col-xs-12">
              <div class="box"><h2> — </h2><h2>why should you use it?</h2>
              </div></div>
              <div class="col-sm-7 col-xs-12">
                <div class="box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                </div></div>
              </div>
              <div class="row ">
                <div class="col-sm-3 col-xs-12"></div>
                      <div class="col-sm-3 col-xs-12">
                        <center><div class="box"><%= link_to "I am a company", new_company_path, class: 'btn', style: 'color: white; padding: 15px', action: "new" %></div></div>
                          <div class="col-sm-3 col-xs-12">
                            <center><div class="box"><%= link_to "I am a job seeker", new_user_path, class: 'btn', style: 'color: white; padding: 15px', action: "new" %></div></div>
                            </div>
                            <div class="row center-md">
                              <div class="col-sm-12">
                                <div class="box" style = 'height: 40%;'><br><br></div>
                              </div>
                            </div>
                          </body>
